* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(42, 42, 56);
    color: white;
    font-family: 'Fira Mono', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(38, 38, 51);
    justify-content: center;
    height: 100px;
    width: 100%
}

.python {
    display: block;
    height: 400px;
    width: 300px;
    margin: 120px 0 0 600px;
    background-color: rgb(27, 27, 45);
    box-shadow: 0 2px 10px rgb(161, 161, 240);
}

.webdev {
    display: block;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    box-shadow: 0 2px 10px rgb(161, 161, 240);
    margin: -400px 0 0 200px;
    background-color: rgb(27, 27, 45);
}

.c {
    display: block;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    box-shadow: 0 2px 10px rgb(161, 161, 240);
    margin: -400px 0 0 1000px;
    background-color: rgb(27, 27, 45);

}



.pydat {
    align-items: center;
    margin: 20px 0 20px 80px;
}


.webdat {
    align-items: center;
    margin: 20px 0 20px 80px;
}




.cdat {
    align-items: center;
    margin: 20px 0 20px 10px;
}



.topleft {
    font-size: 2rem;
    margin: 50px 550px 50px 100px;
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
    font-size: 1.3rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(161, 161, 240);
    font-size: 1.4rem;

}

.python img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20%;
    margin: 10px 0 20px 25px;
}



.webdev img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20%;
    margin: 10px 0 20px 30px;
}


.c img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20%;
    margin: 10px 0 20px 30px;
}

@media screen and (max-width: 600px){
    nav {
        width: 1300px;
    }
    .topleft{
        margin-left: 50px;
        margin-right: 400px;
    }

    .topright{
        margin-left: -400px;
    }

    nav ul li{
        margin-left: 50px;
        margin-right: 10px;
    }

    .webdev {
        margin-top: -900px;
        margin-left: 500px;
    }

    .python {
        margin-top: 600px;
        margin-left: 500px;
    }

    .c {
        margin-top: 600px;
        margin-left: 500px;
    }
}    